{
	"extends": [
		"eslint:recommended",
		"ultraq"
	],
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"amd": true
	},
	"rules": {
		"strict": ["error", "function"]
	}
}
