{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"amd": true
	},
	"rules": {
		"brace-style": ["error", "stroustrup"],
		"no-unused-vars": ["error", { "args": "none" }],
		"quotes": ["error", "single", "avoid-escape"],
		"semi": "error",
		"space-before-function-paren": ["error", "never"],
		"strict": ["error", "function"],
		"valid-jsdoc": ["error", {
			"prefer": {
				"return": "return"
			},
			"requireParamDescription": false,
			"requireReturn": false
		}]
	}
}
